* {
	box-sizing: border-box;
}
:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
a {
	font-weight: 500;
	color: #9c64ff;
	text-decoration: none;
	border-bottom: 1px solid #9c64ff;
	transition: color 0.2s, filter 0.2s, border-color 0.2s;
}
a:hover {
	color: #934ddd;
}

body {
	margin: 0;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-size: 18px;
}
main {
	padding: 0 2rem;
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

canvas {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 1024px;
	height: 480px;
	background-color: #1a1a1a;
	border-radius: 0.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translateZ(0);
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #9c64ff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
